.drumKey{
  width:100px;
  height:100px;
  background:skyblue;
  text-align:center;
  padding:1.9em;
  cursor: pointer;
  font-weight: bold;
  font-family: monospace;
}
.drumKey:active{
  background-color:#00ff00;
}
#drum{
  display:inline-block;
  position:absolute;
  left:5%;
  top:15%;
}
/*continue from making the design for the layout of the app*/
.topLeft{
  border-top-left-radius:60%
}
.topRight{}
.topCenter{}

.slider{
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(270deg);
      position:absolute;
      left:75%;
      top:200px;
      width:310px;
      color:#00ff00;
}
#display{
  width:100%;
  height:50px;
  text-align: center;
  background:rgb(153, 99, 238);
  padding-top:10px;
}
.buttons{
  -webkit-transform: rotate(90deg);
  position:relative;
  left:-30%;
}
.button{
  width:36px;
  text-align: center;
  margin-top:5px;
}
.hide{
  display:none
}
.keyboardPress{
  background-color:#00ff00;
}
#toggler{
  width:100px;
  height:30px;
  background:#000;
  display: inline-flex;
  border-radius: 15px;
  cursor: pointer;
}
.hidden{
  display:none
}
#audioTag{
  width:100%;
}
.mainRow{
  padding-left:35%;
}
.animateRight{
  width:100px;
  height:100px;
  background: red;
  position: relative;
}
/*this is for the animations*/
.mod1{
  width:50%;
  background:red;
  height:100%;
  float:left;
  position: relative;
  text-align: center;
  border-radius: 15px;
}
.moveRight{
  -webkit-animation: yourmove 1s; /* Safari 4.0 - 8.0 */
  animation: yourmove 1s;
  animation-fill-mode: forwards;
}
.moveLeft{
  -webkit-animation: mymove 1s; /* Safari 4.0 - 8.0 */
  animation: mymove 1s ;
  animation-fill-mode: forwards;
}
@keyframes mymove {
  from {left: 0px;}
  to {left: 50px;}
}
@keyframes yourmove {
  from {right: -50px;}
  to {right: 0px;}
}
body{
  padding:50px;
  background:#f7dbff;

}
