.drumKey{
  width:100px;
  height:100px;
  background:skyblue;
  text-align:center;
  /*padding:1.9em;*/
  cursor: pointer;
  font-weight: bold;
  font-family: monospace;
}
.drumKey:active{
  background-color:#00ff00;
}
#drum{
  display:inline-block;
  position:absolute;
  left:5%;
  top:15%;
}
/*continue from making the design for the layout of the app*/
.topLeft{
  border-top-left-radius:60%
}
.topRight{}
.topCenter{}

.slider{
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      transform: rotate(270deg);
      position:absolute;
      left:75%;
      top:200px;
      width:310px;
      color:#00ff00;
}
#display{
  width:100%;
  height:50px;
  text-align: center;
  background:rgb(153, 99, 238);
  padding-top:10px;
}
.buttons{
  -webkit-transform: rotate(90deg);
  position:relative;
  left:-30%;
}
.button{
  width:36px;
  text-align: center;
  margin-top:5px;
}
.hide{
  display:none
}
.keyboardPress{
  background-color:#00ff00;
}
#toggler{
  width:100px;
  height:20px;
  background:#000;
  display: inline-flex;
}
.mod1{
  width:50%;
  background:red;
  height:100%;
  float:left;
}
.mod2{
  float:right;
  height:100%;
  background:purple;
  width:50%;
}
.hidden{
  display:none
}
#audioTag{
  width:100%;
}
