.drumKey{
  width:100px;
  height:100px;
  background:skyblue;
  text-align:center;
}
#drum{
  display:inline-block;
}
/*continue from making the design for the layout of the app*/
.topLeft{
  border-top-left-radius:60%
}
.topRight{}
.topCenter{}
